body {
  margin: 0;
  font-family: 'Cuprum', Arial, sans-serif; 
}

a {
  text-decoration: none;
  color: #ffffff;
}

.main-header {
  background-color: #f4f7f9;
}

.header-top {
  font-size: 17px;
  font-weight: 400;
  line-height: 18px; 
  color: #ffffff;
  background-color: #293449;
} 

.header-logo-link {
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.header-logo-link:hover {
  background-color: #ca2c37;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.header-logo-link:active {
  background-color: #ba2732;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.search-field {
  background-color: #293449;
  color: #ffffff;
  border: none;
}

.search-field:hover {
  background-color: #212a3a;
  color: #ffffff;
}

.search-field:focus {
  background-color: #ffffff;
  color: #000000;
  outline: 0;
  outline-offset: 0;
}

.order {
  background-color: #63a63e;
}

.order:hover {
  background-color: #5fbb2d;
  color: #ffffff;
}

.order:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.6);
}

.cart:hover,
.wish-list:hover {
  background-color: #212a3a;
  color: #ffffff;
}

.cart:active,
.wish-list:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
} 

.header-menu,
.main-user-navigation {
  list-style: none;
}

.header-lid {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.phone-btn {
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #ee3643;
}

.header-adress {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #32425c;
}

.main-user-navigation a {
  background-color: #ffffff;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
}

.main-user-navigation a:hover {
  color: #ee3643;
}

.main-user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
} 

.header-navigation {
  width: 940px;
  margin: 0 auto;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 60px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 23px 20px;
}

.header-navigation {
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
  color: #ffffff;
}

.header-navigation a {
  padding: 22px 30px; 
}

.header-navigation a:hover {
  background-color: #293449;
}

.header-navigation a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
} 

.main-company-info {
  background-color: #ffffff;
}

.main-company-info h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.basic-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.transport-company-list {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-top: 8px;
}

.transport-company {
  padding-top: 15px;
}

.btn {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  background-color: #ee3643;
  color: #ffffff;
}

.btn:hover {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.modal-map {
  box-shadow: 0 0 14.7px 1.3px rgba(47, 42, 43, 0.5);
  background-color: #565656;
}

.modal {
  background-color: #ffffff;
}

.modal-form-bottom {
  background-color: #f4f4f4;
}

.modal-form label {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
}

.modal-form-top input,
textarea {
  border: 2px solid #dee3e4;
}

.modal-form-top 
input:hover,
textarea:hover {
  border: 2px solid #b5b5b5;
}

.modal-form-top 
input:focus,
textarea:focus {
  border: 2px solid #ee3643;
}

.calatog-cart {
  background-color: #ee3643;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}

.calatog-cart:hover {
  background-color: #ba2732;
} 

.user-navigation-link {
  background-color: #ffffff;
}

.user-name {
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
}

.user-name:active {
  color: rgba(50, 66, 92, 0.3);
}

.user-navigation a {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #32425c;
}

.user-navigation a:hover {
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(50, 66, 92, 0.3);
}

.breadcrumbs li {
  list-style: none;
}

.breadcrumbs 
a, 
.breadcrumbs-current {
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.top-level-two {
  background-color: #f2f6f8;
}

.top-level-two h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.filter-category {
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.filters-form {
  background-color: #ffffff;
}

.filters-form li {
  list-style: none;
}

.filter-item {
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.filters-form li:disabled {
  opacity: 0.4;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.4);
}

.btn-show {
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.catalog-list li {
  list-style: none;
  border: 1px solid #e5e5e5;
}

.catalog-item h3 {
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.old-price {
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: #999999;
  text-decoration: line-through;
}

.new-price-button {
font-size: 17px;
font-weight: 700;
line-height: 18px;
text-align: center;
color: #ffffff;
background-color: #ee3643;
}

.catalog-list li:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.buy-button {
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.buy-button:hover {
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #5fbb2d;
}

.buy-button:active {
  background-color: #518534;
}

.wish-list-button {
  border: 3px solid #63a63e;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.wish-list-button:hover {
  border: 3px solid #32425c;
  margin-left: auto;
  margin-right: auto;
}
.wish-list-button:active {
  border: 3px solid #32425c;
  opacity: 0.3;
}

/* grid */
.main-header {
  width: 100%;
  height: 320px;
}

.header-top {
  display: flex;
  width: 100%;
  height: 42px;
  padding: 0;
}

.conteiner {
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
}

.header-logo-link {
  width: 110px;
  height: 18px;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 13px;
  padding-bottom: 16px;
}

.search-field {
  width: 270px;
  height: 42px;
  padding-left: 49px;
  box-sizing: border-box; 
}

.header-user-block {
  display: flex;
}

.header-link {
  padding-top: 13px;
  padding-bottom: 13px;
}

.wish-list {
  width: 150px;
  padding-left: 44px;
  box-sizing: border-box; 
}

.cart {
  width: 150px;
  padding-left: 50px;
  box-sizing: border-box;
}

.order {
  width: 150px;
  padding-left: 21px;
  box-sizing: border-box;
}

.header-bottom-top {
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.header-lid {
  width: 196px;
  margin-left: 52px;
  margin-right: 71px;
  padding: 0;
  margin-top: 46px;
}

.header-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 270px;
  justify-content: center;
  margin-top: 40px;
}

.phone-btn {
  width: 270px;
  border: 2px solid #ffffff;
  padding-left: 72px;
  padding-right: 50px;
  padding-top: 11px;
  padding-bottom: 11px;
  box-sizing: border-box;
}

.header-adress {
  padding: 0;
  margin: 0 auto;
}

.main-user-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 46px;
  margin-left: 69px; 
}

.user-login {
  padding-left: 48px;
  padding-right: 27px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-right: 10px;
}

.user-registration {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 13px;
  padding-bottom: 13px;
}



.visually-hidden {
  display: none;
}

.main-content {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-stuff-top {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-top: 59px;
}

.main-stuff {
  background-color: orange;
  margin-bottom: 20px;
  height: 123px;
  width: 300px;
}

.stuff-1,
.stuff-2,
.stuff-3 {
  order: -1;
}

.slider {
  flex-grow: 2;
  height: 266px;
  margin-right: 20px;
}

.block-2 {
  display: flex;
}
.block-1 {
  display: flex;
  flex-direction: column;
}

.block-1 {
  justify-content: space-between;
  
}
.slider {
  width: 620px;
}

.stuff-2 {
  background-color: #3bbce3;
}

.stuff-3 {
  background-color: #dc91d8;
}

.stuff-4 {
  background-color: #8ed78f;
}

.stuff-5 {
  background-color: #ffc047;
}

.stuff {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff;
  margin-left: 23px;
  margin-top: 26px;
}

.stuff-link {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #000000;
  padding: 13px 24px;
  margin-top: 15px;
}
  
.main-level-two {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  margin: auto 0;
  margin-left: 30px;
}

.main-content-middle {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.list-conteiner {
  display: flex;
  background-color: #f9f5f0;
  width: 940px;
  justify-content: space-between;
  margin-top: 53px;
  margin-bottom: 21px;
}

.popular-list {
  display: flex;
  width: 940px;
  justify-content: flex-start;
  background-color: orange;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.popular-item {
  list-style: none;
  border: solid 1px #eaeaea;
  width: 220px;
}

.btn-link {
  padding: 14px 55px;
  margin: 25px 0;
  margin-right: 24px;
}

.catalog-level-three {
  font-family: PTSans, Arial, sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.11;
  text-align: center;
  color: #000000;
  width: 155px;
  margin: 0 33px;
  margin-top: 12px;
}

.old-price {
  margin: 0 auto;
  margin-top: 18px;
}

.pop-brands {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: none;
  margin-bottom: 65px;
}

.pop-brands li {
  width: 220px;
  border: 1px solid #f9f5f0;
  margin-bottom: 20px;
}

.brands-pic {
  padding: auto;
  margin: auto;
}

.list-brands {
  margin-top: 21px;
}

.main-services {
  background-color: #f4f8f9;
  width: 100%;
}

.title {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 80px;
  }

.services-list-item {
    width: 240px;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 23px;
    margin: 0;
    box-shadow: 0px 1px 0 0 rgb(41, 52, 73), inset 0px 1px 0 0 rgb(64, 80, 105);
    background-color: #32425c;
    font-family: 'Cuprum', Arial, sans-serif;
  font-size: 21px;
  font-weight: 600;
  line-height: 30px;
  
}

.services-item {
    width: 249px;
    margin: 0;
    padding: 0;
}

.services-category {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.services-list-item:hover {
    box-shadow: 0px 1px 0 0 rgb(41, 52, 73), inset 0px 1px 0 0 rgb(64, 80, 105);
    background-color: #293449;
}
  
.services-list-item:active {
    box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
    background-color: #ffffff;
}

.services-list-item a:active {
  color: #32425c;
}


.services-conteiner {
    width: 940px;
    margin: 0 auto;
    padding: 0;
    padding-top: 40px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
}

.main-services-conteiner {
    display: flex;
    margin: 0;
    padding: 0;
}

.main-services-top {
    width: 370px;
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
}

.main-company-info {
  width: 940px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  padding-top: 55px;
}

.main-company-about {
  width: 519px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.main-company-contacts {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.basic-text-two {
  width: 400px;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  margin: 0;
  padding-top: 0;
}

.btn-send,
.btn-info {
  width: 300px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 2px;
  margin-bottom: 0px;
  margin-top: 40px;
}

.btn-info {
  width: 220px;
}

.main-company-contacts p {
width: 179px;
padding-bottom: 10px;
}


/* FOOTER */

.site-footer {
  margin: 0;
  padding: 0;
  margin-top: 86px;
}

.site-footer-top {
  background-color: #32425c;
  margin: 0 auto;
  padding: 0;
}

.site-footer-top p {
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  color: #f3f7f9;
  width: 350px;
  margin: 0;
  padding: 0;
  margin-right: 91px;

}

.site-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu-item a {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}

.footer-menu-item a:hover {
  text-decoration: underline;
}

.footer-menu-item a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer-features-item a {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #ffda96;
}

.footer-features-item a:hover {
  text-decoration: underline;
}

.footer-features-item a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.footer-top {
  display: flex;
}

.footer-logo-link {
  width: 220px;
  height: 68px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: rgb(238, 54, 67);
  margin: 0;
  padding: 0;
  padding: 0px 41px;
  padding-top: 20px;
  padding-bottom: 25px;
  margin-right: 173px;
  box-sizing: border-box;

}

.footer-logo-link:hover {
  background-color: #ca2c37;
  box-shadow: inset 0px -5px 0 0 var(--black--24);
}

.footer-logo-link:active {
  box-shadow: inset 0px -5px 0 0 var(--black--24);
  background-color: #ba2732;
}

.footer-menu {
  display: flex;
  
}

.footer-menu-item {
  margin-right: 60px;
  margin-top: 42px;
}

.footer-menu-item:last-child {
  margin-right: 0px;
}

.footer-bottom {
  display: flex;
  padding-top: 32px;
  padding-bottom: 53px;
}

.footer-features {
  display: flex;
}

.footer-features-item {
  margin-right: 60px;
}

.footer-features-item:last-child {
  margin-right: 0px;
}

.site-footer-bottom {
  background-color: #293449;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 35px;

}

.footer-bottom-content {
  display: flex;
  justify-content: space-between;

}

.footer-social ul {
  display: flex;
  list-style: none;
}

.site-footer-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.copy-right {
  width: 250px;
}

.site-footer-text a {
color: #ffd180;
}






.footer-wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}